body {
	padding-bottom: 44px;
}

footer {
	background-color: rgb(255, 255, 255);
}

h3 {
	font-size: 14px;
	font-weight: normal;
	font-style: italic;
	margin-top: -30px;
	margin-bottom: -10px;
}

h2 {
	margin-top: 40px;
}
