%h1 À propos d'elgooG
%h2 Origine
%p
  Certaines recherches nécessitant l'existance de mots tels que <a href='http://www.framablog.org/index.php/post/2013/03/29/geektionnerd-google-langue-suede'>ogooglebar</a>, nous avons décidé de créer un moteur de recherche révolutionnaire. Toute ressemblance avec un site existant est fortuite.

%h2 Technologies utilisées
%p
  elgooG a été développé intégralement en Ruby, et utilise les gems suivantes :
  %ul
    %li sinatra
    %li haml
    %li ruby-stemmer
    %li sparql-client
  Les données d'indexation sont stockées dans une base de données MySQL.
