.pagination-centered
  %img{:src => "/img/logo_elgoog.png"}
  %form
    %div
      %input.input-xxlarge{:type => "text"}/
    %div
      %button.btn{:type => "submit"} Recherche elgooG
      %button.btn{:type => "button"} J'ai de la chance
