.pagination-centered.main-container
  %img{:src => "/img/logo_elgoog.png"}
  %form{:name => "search", :id => "search", :action => "/search", :method => "get", :enctype => "text/plain"}
    %div
      %input.input-xxlarge{:type => "text", :id => "query", :name => "query"}/
    %div
      %input.btn{:type => "submit", :value => "Recherche elgooG"}/
      %input.btn{:type => "button", :value => "J'ai de la chance"}/
